//- Все примеси в этом файле должны начинаться c имени блока ( slider )

-
  var sliderClass = 'slider';

  var slider = {
    controls: {
      class: sliderClass + '__controls',
    },
    button: {
      class: sliderClass + '__arrow',
      modNext: sliderClass + '__arrow--prev',
      modPrev: sliderClass + '__arrow--next'
    },
    dots: {
      class: sliderClass + '__dots'
    }
  }

mixin dotsContainer(className)
  +wrapper()( class=slider.dots.class + " " + className )

mixin arrowPrev(className)
  +button( "Предыдущий слайд", "slider" )( class=slider.button.class + " " + slider.button.modNext + " " + className )
    +icon( "arrow-left", 24, 24 )

mixin arrowNext(className)
  +button( "Предыдущий слайд", "slider" )( class=slider.button.class + " " + slider.button.modPrev + " " + className )
    +icon( "arrow-right", 24, 24 )

