//- Все примеси в этом файле должны начинаться c имени блока ( page-header )

-
  var pageHeaderClass = 'page-header';

  var pageHeader = {
    container: {
      class: pageHeaderClass + '__container'
    },
    topBar: {
      class: pageHeaderClass + '__top-bar'
    },
    logo: {
      class: pageHeaderClass + '__logo'
    },
    mainNav: {
      class: pageHeaderClass + '__main-nav'
    },
    contacts: {
      class: pageHeaderClass + '__contacts',
    },
    contactsLink: {
      class: pageHeaderClass + '__contacts-link'
    },
    contactsButton: {
      class: pageHeaderClass + '__contacts-button'
    },
    content: {
      class: pageHeaderClass + '__content'
    },
    contentDesc: {
      class: pageHeaderClass + '__description'
    },
    descTitle: {
      class: pageHeaderClass + '__description-title'
    },
    descText: {
      class: pageHeaderClass + '__description-text'
    },
    descButtons: {
      class: pageHeaderClass + '__description-buttons',
    },
    descButton: {
      class: pageHeaderClass + '__description-button'
    },
    contentNote: {
      class: pageHeaderClass + '__note'
    },
    noteText: {
      class: pageHeaderClass + '__note-text'
    },
    noteButton: {
      class: pageHeaderClass + '__note-button'
    }
  }