//- Все примеси в этом файле должны начинаться c имени блока ( feedback )

-
  var feedbackClass = 'feedback';
  var feedbackClassPadding = feedbackClass + " feedback--padding-bottom";

  var feedback = {
    container: {
      class: feedbackClass + '__container',
    },
    title: {
      class: feedbackClass + '__title'
    },
    description: {
      class: feedbackClass + '__description'
    },
    form: {
      class: feedbackClass + '__form'
    },
    field: {
      class: feedbackClass + '__field-text'
    },
    button: {
      class: feedbackClass + '__button'
    }
  }