//- Все примеси в этом файле должны начинаться c имени блока ( accordion )

-
  var accordionClass = 'accordion';

  var accordion = {
    link: {
      class: accordionClass + '-link'
    },
    content: {
      class: accordionClass + '-content'
    }
  }

