//- Все примеси в этом файле должны начинаться c имени блока ( page-footer )

-
  var pageFooterClass = 'page-footer'

  var pageFooter = {
    container: {
      class: pageFooterClass + '__container'
    },
    logo: {
      class: pageFooterClass + '__logo'
    },
    contacts: {
      class: pageFooterClass + '__contacts'
    },
    link: {
      class: pageFooterClass + '__link',
      modPhone: pageFooterClass + '__link--phone',
      modPrivacy: pageFooterClass + '__link--privacy',
    },
    phrase: {
      class: pageFooterClass + '__phrase',
      modAdress: pageFooterClass + '__phrase--adress',
      modCopy: pageFooterClass + '__phrase--copy'
    },
    copy: {
      class: pageFooterClass + '__copy'
    }
  }
