//- Все примеси в этом файле должны начинаться c имени блока ( present )

-
  var presentationClass = 'presentation';

  var presentation = {
    container: {
      class: presentationClass + '__container'
    },
    wrapper: {
      class: presentationClass + '__wrapper'
    },
    header: {
      class: presentationClass + '__header'
    },
    body: {
      class: presentationClass + '__body'
    },
    bodyContainer: {
      class: presentationClass + '__body-container'
    },
    title: {
      class: presentationClass + '__title'
    },
    subTitle: {
      class: presentationClass + '__subtitle'
    },
    text: {
      class: presentationClass + '__text'
    },
    list: {
      class: presentationClass + '__list'
    },
    listItem: {
      class: presentationClass + '__item'
    },
    listItemTitle: {
      class: presentationClass + '__item-title'
    },
    form: {
      class: presentationClass + '__form'
    },
    field: {
      class: presentationClass + '__field-text'
    },
    figure: {
      class: presentationClass + '__figure'
    },
    buttons: {
      class: presentationClass + '__buttons'
    },
    button: {
      class: presentationClass + '__button'
    },
    controls: {
      class: presentationClass + '__controls'
    },
    dots: {
      class: presentationClass + '__dots'
    },
    arrow: {
      class: presentationClass + '__arrow',
      modButtonPrev: presentationClass + '__arrow--prev',
      modButtonNext: presentationClass + '__arrow--next'
    },
    note: {
      class: presentationClass + '__note'
    },
    noteText: {
      class: presentationClass + '__note-text'
    },
    noteButton: {
      class: presentationClass + '__note-button button button--blue'
    },
  }