//- Все примеси в этом файле должны начинаться c имени блока ( cashback )

-
  var cashbackClass = 'cashback';

  var cashback = {
    container: {
      class: cashbackClass + '__container'
    },
    title: {
      class: cashbackClass + '__title'
    },
    text: {
      class: cashbackClass + '__text'
    },
    buttons: {
      class: cashbackClass + '__buttons'
    },
    button: {
      class: cashbackClass + '__button'
    }
  }
