// В этом файле должны быть стили для БЭМ-блока faq, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

@import "../../libraries/variables";
@import "../../libraries/mixins";

.faq {
  $block-name: &; // #{$block-name}__element

  padding-bottom: 70px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $screen-xl) {
    padding-bottom: 0;
  }

  &__container {
    @include row( xs, 1 );
    @include row( xl, 1, equal, 30px, 0 );
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $screen-xl) {
      max-width: 100%;
    }
  }

  &__title {
    text-align: center;
    margin: 0;

    @media (min-width: $screen-xl) {
      font-size: 28px;
    }
  }

  &__description {
    margin-top: 24px;
  }

  &__list {
    margin-top: 30px;

    &--margin {
      margin-top: 38px;
    }
  }

  &__item {
    margin-bottom: 23px;

    &:last-of-type {
      margin-bottom: 0;
    }

    &-container {
      &--link {
        display: block;
        background-color: $color-white;
        text-decoration: none;
        padding: 14px 25px 14px 11px;
        box-shadow: 0 2px 20px transparentize($black, 0.88);
        border-radius: 12px;

        @media (min-width: $screen-xl) {
          padding-top: 24px;
          padding-bottom: 24px;
        }
      }

      &--content {
        margin-top: 19px;
      }
    }
  }

  &__subtitle {
    display: flex;
    align-items: flex-start;
    margin: 0;

    span {
      font-weight: 400;
      font-size: 16px;
      color: $color-grey;
      width: calc(100% - 32px);
      margin-left: 20px;
    }
  }

  &__text {
    margin-top: 19px;

    strong {
      display: block;
      color: $color-red;
    }

    &:first-of-type {
      margin-top: 0;
    }
  }

  &__form {
    margin-top: 55px;
    border-radius: $border-radius;
    background-color: $color-blue;
    padding: 7px;
    text-align: center;
    box-shadow: 0 2px 20px transparentize($black, 0.44);
  }

  &__field-text {
    margin-bottom: 0;

    .field-text__name {
      @include hide-text;
    }

    textarea {
      border-radius: $field-border-radius - 6;
      padding-top: $field-padding-vertical + 5;
      padding-bottom: $field-padding-vertical + 5;
    }
  }

  &__button {
    max-width: 100%;
    margin-top: 5px;
  }

  &--service {
    background-color: #ECF2F9;
    padding-top: 70px;
    padding-bottom: 195px;
    margin-bottom: 175px;
    position: relative;

    @media (min-width: $screen-md) {
      padding-top: 70px;
      padding-bottom: 70px;
      margin-bottom: 0;
    }

    @media (min-width: $screen-xl) {
      padding-top: 82px;
      padding-bottom: 83px;
    }

    &::before,
    &::after {
      @include pseudo;
    }

    &::before {
      top: -4px;
      left: calc(50% - 25px);
      border: 30px solid transparent;
      border-right: 30px solid $color-white;
      transform: rotate(-90deg);
      width: 0;
      height: 0;
    }

    &::after {
      bottom: -170px;
      right: 0;
      width: 574px;
      height: 375px;
      background-image: url("#{$imagesDir}worth-bg.svg");
      background-position: 155px 0;
      background-size: 574px 375px;
      background-repeat: no-repeat;

      @media (min-width: $screen-md) {
        bottom: unset;
        top: 250px
      }

      @media (min-width: $screen-xl) {
        top: 160px;
        width: 760px;
        height: 522px;
        background-position: 15px 0;
        background-size: 760px 522px;
      }
    }

    #{$block-name}__container {
      @include row( xl, 2, equal, 30px, 30px );
    }

    #{$block-name}__title {
      @include col( xl, 1, 2, 1, 2);

      @media (min-width: $screen-xl) {
        text-align: left;
      }
    }

    #{$block-name}__description {
      @include col( xl, 1, 2, 2, 3);

      @media (min-width: $screen-xl) {
        margin-top: 18px;
      }
    }

    #{$block-name}__list {
      @include col( xl, 1, 2, 3, -4);
      position: relative;
      z-index: 2;
    }
  }
}
