//- Все примеси в этом файле должны начинаться c имени блока ( faq )

-
  var faqClass = 'faq';
  var faqServiceClass = faqClass + ' faq--service';

  var faq = {
    container: {
      class: faqClass + '__container'
    },
    title: {
      class: faqClass + '__title'
    },
    description: {
      class: faqClass + '__description'
    },
    list: {
      class: faqClass + '__list'
    },
    listItem: {
      class: faqClass + '__item'
    },
    itemContainer: {
      class: faqClass + '__item-container',
      modLink: faqClass + '__item-container--link',
      modContent: faqClass + '__item-container--content'
    },
    subTitle: {
      class: faqClass + '__subtitle'
    },
    text: {
      class: faqClass + '__text'
    },
    form: {
      class: faqClass + '__form'
    },
    field: {
      class: faqClass + '__field-text'
    },
    button: {
      class: faqClass + '__button'
    }
  }