//- Все примеси в этом файле должны начинаться c имени блока ( advantages )

-
  var reviewsClass = 'reviews';

  var reviews = {
    container: {
      class: reviewsClass + "__container"
    },
    title: {
      class: reviewsClass + '__title'
    },
    description: {
      class: reviewsClass + '__description'
    },
    list: {
      class: reviewsClass + '__list'
    },
    listItem: {
      class: reviewsClass + '__item'
    },
    itemCont: {
      class: reviewsClass + '__item-container'
    },
    itemHeader: {
      class: reviewsClass + '__item-header'
    },
    itemBody: {
      class: reviewsClass + '__item-body'
    },
    itemTitle: {
      class: reviewsClass + '__item-title'
    },
    itemText: {
      class: reviewsClass + '__item-text',
      modCashback: reviewsClass + '__item-text--cashback',
      modDeveloper: reviewsClass + '__item-text--developer',
      modCharacteristic: reviewsClass + '__item-text--characteristic'
    },
    controls: {
      class: reviewsClass + '__controls'
    },
    dots: {
      class: reviewsClass + '__dots'
    },
    button: {
      class: reviewsClass + '__arrow',
      modButtonPrev: reviewsClass + '__arrow--prev',
      modButtonNext: reviewsClass + '__arrow--next'
    }
  }