//- Все примеси в этом файле должны начинаться c имени блока ( modals )

-
  var modalsClass = 'modals';
  var modalClass = modalsClass.replace('s', '');

  var modal = {

    container: {
      class: modalClass + '__container'
    },

    closeButton: {
      class: modalClass + '__close-button'
    },

    wrapper: {
      class: modalClass + '__wrapper'
    },

    title: {
      class: modalClass + '__title'
    },

    logo: {
      class: modalClass + '__logo'
    },

    nav: {
      class: modalClass + '__nav'
    },

    form: {
      class: modalClass + '__form'
    },

    field: {
      class: modalClass + '__field'
    },

  }
