//- Все примеси в этом файле должны начинаться c имени блока ( calculatorClass )

-
  var calculatorClass = 'calculator';

  var calculator = {
    container: {
      class: calculatorClass + '__container'
    },
    wrapperResult: {
      class: calculatorClass + '__result'
    },
    title: {
      class: calculatorClass + '__title'
    },
    titleResult: {
      class: calculatorClass + '__result-title'
    },
    text: {
      class: calculatorClass + '__text'
    },
    buttons: {
      class: calculatorClass + '__buttons',
    },
    button: {
      class: calculatorClass + '__button'
    },
    form: {
      class: calculatorClass + '__form'
    },
    fieldResult: {
      class: calculatorClass + '__result-field',
      mod: calculatorClass + '__result-field--small',
      mod2: calculatorClass + '__result-field--check',
    }
  }