//- Все примеси в этом файле должны начинаться c имени блока ( accordion )

-
  var partnersClass = 'partners';

  var partners = {
    container: {
      class: partnersClass + '__container'
    },
    title: {
      class: partnersClass + '__title'
    },
    list: {
      class: partnersClass + '__list'
    },
    listItem: {
      class: partnersClass + '__item'
    },
    figure: {
      class: partnersClass + '__figure'
    },
    controls: {
      class: partnersClass + '__controls'
    },
    dots: {
      class: partnersClass + '__dots'
    },
    button: {
      class: partnersClass + '__arrow',
      modButtonPrev: partnersClass + '__arrow--prev',
      modButtonNext: partnersClass + '__arrow--next'
    }
  }

