//- Все примеси в этом файле должны начинаться c имени блока ( present )

-
  var presentClass = 'present';

  var present = {
    container: {
      class: presentClass + '__container'
    },
    title: {
      class: presentClass + '__title'
    },
    text: {
      class: presentClass + '__text'
    },
    form: {
      class: presentClass + '__form'
    },
    field: {
      class: presentClass + '__field-text'
    },
    button: {
      class: presentClass + '__button'
    }
  }