//- Все примеси в этом файле должны начинаться c имени блока ( advantages )

-
  var advantagesClass = 'advantages';
  var advantagesCashbackClass = advantagesClass + ' advantages--cashback';

  var advantages = {
    container: {
    class: advantagesClass + "__container"
    },
    title: {
      class: advantagesClass + "__title"
    },
    list: {
      class: advantagesClass + '__list'
    },
    listItem: {
      class: advantagesClass + '__item'
    },
    subTitle: {
      class: advantagesClass + "__subtitle"
    },
    text: {
      class: advantagesClass + '__text'
    }
  }



